<!-- <?xml version="1.0"?> -->
<launch>

    <node pkg="srosbag_pub" type="srosbag_pub" name="srosbag_pub" >
        <param name="bag_path" value="/home/zxj/data/rack_detector_filter/"/>
<!--
        <param name="bag_name"     value="Map201903151430"/>//该包的雷达点被车体盖板遮挡
-->
	<param name="bag_name" value="s444444"/>
        <param name="time_scale" value="1"/>
<!--
        <param name="begin_play_time" type = "double" value="1573286200.563299"/>
-->
<!--
        <param name="begin_play_time" type = "double" value="1573360479.30518293"/>
-->
        <param name="begin_play_time" type = "double" value="0"/>
    </node>


</launch>
