<?xml version="1.0"?>
<launch>
  <arg name="frame_id" default="scan"/>
  <arg name="scanner_ip" default="192.168.23.165"/>
  <arg name="scan_frequency" default="20"/>
  <arg name="samples_per_scan" default="3600"/>

  <!-- R2000 Driver -->
  <node pkg="pepperl_fuchs_r2000" type="r2000_node" name="r2000_node" respawn="true" output="screen">
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="scanner_ip" value="$(arg scanner_ip)"/>
    <param name="scan_frequency" value="$(arg scan_frequency)"/>
    <param name="samples_per_scan" value="$(arg samples_per_scan)"/>
  </node>

  <!--  R2E0 -->
<!--  <node pkg="pepperl_fuchs_r2000" type="R2E0_node" name="R2E0_node" >-->
<!--    <param name="frame_id1" value="scan"/>-->
<!--    <param name="scanner_ip1" value="10.0.10.9"/>-->
<!--    <param name="scan_frequency1" value="20"/>-->
<!--    <param name="samples_per_scan1" value="3600"/>-->
<!--  </node>-->

  <!-- RVIZ -->
  <!-- <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find pepperl_fuchs_r2000)/rviz/rviz.rviz"/> -->

</launch>
